

.container{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 25px;
    height:550px;
    width: 550px;
    text-align: center;
    margin: auto;
    margin-top: 70px;
}





























